.btn-primary, .btn-primary {
    --btn-color: #FFFFFF;
    --btn-bg: green;
    --btn-border-color: #714B67;
    --btn-hover-color: #FFFFFF;
    --btn-hover-bg: #604058;
    --btn-hover-border-color: #5a3c52;
    --btn-focus-shadow-rgb: 134, 102, 126;
    --btn-active-color: #FFFFFF;
    --btn-active-bg: #5a3c52;
    --btn-active-border-color: #55384d;
    --btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --btn-disabled-color: #FFFFFF;
    --btn-disabled-bg: #714B67;
    --btn-disabled-border-color: #714B67;
}