.hrmis-btn--icon {
    background: transparent !important;
    border: none !important;
    padding: 0 12px;
    cursor: pointer;
}

.hrmis-btn--icon i {
    color: #28a745;   /* green */
    font-size: 18px;
}

.hrmis-btn--icon:hover i {
    color: #1e7e34;
}
